
body {
    font-family: 'Arial', sans-serif;
    background-image: url("../img/all7.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

/* Header */
header {
    text-align: center;
    background-color: #8b5e3c;
    padding: 10px;
    color: white;
    border-radius: 8px;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2.2em;
}

.admin-btn {
    background-color: #a97458;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 6px;
    font-size: 1em;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-btn:hover {
    background-color: #704832;
    transform: scale(1.05);
}


.form-container {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: 90px;
    background-color: rgba(255, 248, 242, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
    display: block;
}



.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #5e4033;
}


.form-container input[type="text"],
.form-container input[type="number"],
.form-container textarea,
.form-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    background-color: #fdfaf7;
}


ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 20px;
}

.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 12px 16px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 90%;
}

.error {
    background-color: #ede0de;
    color: #b30000;
    border: 1px solid #ff4d4d;
    padding: 12px 16px;
    margin: 10px 0;
    border-radius: 5px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    display: inline-block;
    max-width: 90%;
}
