<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrow Book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/borrow_book.css') }}">
</head>
<body>
    <header>
        <h1>Borrow Book</h1>
        <a href="{{ url_for('web_home_users') }}">
            <button class="admin-btn">Back to User Page</button>
        </a>
    </header>

    <div class="admin-info">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul>
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        {% if books %}
            <h2>List of Books</h2>
                <ul class="book-list">
                    {% for book in books %}
                        <li class="book-item" id="book_id_{{book.book_id}}">
                            {{ book.title }}
                            <button type="submit" name="book_id" value="{{ book.book_id }}" class="borrow-btn"
                                    onclick="borrowBook({{book.book_id}})">Borrow</button>
                        </li>
                    {% endfor %}
                </ul>
        {% else %}
            <p>No books available to borrow.</p>
        {% endif %}
    </div>
    <script src="{{ url_for('static', filename='js/borrow_book.js') }}"></script>
</body>
</html>
