<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User View Books</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/user_view_books.css') }}">
</head>
<body>
    <header>
        <h1>Library Books</h1>
        <a href="{{ url_for('web_home_users') }}">
            <button class="admin-btn">Back to User Page</button>
        </a>
    </header>

    <main>
        {% if books %}
            <table class="books-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>
                            <form action="{{ url_for('user_view_books') }}" method="GET">
                                <label for="page_count">Pages</label>
                                <select name="page_count" id="page_count" onchange="this.form.submit()">
                                     <option value="" disabled selected>Filter by pages</option>
                                     <option value="0" {% if selected_page =='0' %}selected{% endif %}>All Books</option>
                                    <option value="1" {% if selected_page =='1' %}selected{% endif %}>&lt; 200</option>
                                    <option value="2" {% if selected_page =='2' %}selected{% endif %}>200 - 299</option>
                                    <option value="3" {% if selected_page =='3' %}selected{% endif %}>300 - 399</option>
                                    <option value="4" {% if selected_page =='4' %}selected{% endif %}>400 - 499</option>
                                    <option value="5" {% if selected_page =='5' %}selected{% endif %}>&ge; 500</option>
                                </select>
                            </form>
                        </th>
                        <th>Author</th>
                        <th>Genre</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td><div class="highlight-title">{{ book.title }}</div></td>
                        <td>{{ book.description }}</td>
                        <td>{{ book.page_count }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.genre }}</td>
                        <td>
                        <button type="button" class="borrow-btn" onclick="borrowBook({{ book.book_id }})">
                            Borrow
                        </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No books available.</p>
        {% endif %}
    </main>
    <script src="{{ url_for('static', filename='js/borrow_book.js') }}"></script>
</body>
</html>
